<div class="container mt-5">
  <h2>Thanks For Booking With Us!</h2>
  <h3 class="mt-3">Flight Details</h3>
  <%= render 'bookings/flight'%>
  <h3 class="mt-5">Passenger Details</h3>
  <div id="passenger-container">
    <% @passengers.each_with_index do |p, i| %>
      <div class="passenger-details">
        <header class="passenger-header">  
          <h6>Passenger #<%= i+1 %></h6>
        </header>
        <main class="passenger-main">
          <div class="passenger-detail">
            <label>Passenger Name</label>
            <h6 class="card-title"><%= p.name %></h6>
          </div>
          <div class="passenger-detail">
            <label>Passenger Email</label>
            <h6 class="card-title"><%= p.email %></h6>
          </div>
        </main>
      </div>
    <%end%>
  </div>
</div>

